* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  background: linear-gradient(rgb(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)),
              url(../images/bg_img.jpg) no-repeat center / cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

// App container
.container {
  position: relative;
  width: 80%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.555);

  // Error message
  .error {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translatex(-50%);
    background: rgba(255, 217, 217, 0.877);
    color: red;
    font-size: 20px;
    border: 2px solid rgb(255, 112, 112);
    border-radius: 5px;
    padding: 10px;
    z-index: 10;
    transition: .8s;
  }

  .input_container {
    background:rgba(25, 255, 155, 0.5);
    height: 100px;
    width: 100%;
    padding: 20px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 20px;

    form {
      width: 100%;
      position: relative;

      input {
        font: 15px;
        font-family: inherit;
        padding: 0 70px 0 0;
        text-indent: 20px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        background: rgba(255, 255, 255, 0.801);
        border: none;
        border-bottom: 3px solid transparent;
        height: 46px;
        width: 100%;
        display: block;

        &:focus {
          outline: none;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
          outline: none;
        }

        &::-webkit-input-placeholder {
          color: darkgray;
        }
      }

      label {
        font-size: 12px;
        font-weight: 700;
        font-style: italic;
        margin-left: 20px;
        margin-top: 7px;
        display: block;
        transition: 0.3s;
      }

      input:placeholder-shown + label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40px);
      }

      button {
        height: 44px;
        width: 45px;
        position: absolute;
        right: 0;
        top: 1px;
        background: radial-gradient(rgb(62, 133, 62), rgb(30, 128, 0));
        color: #fff;
        border-radius: 50px;
        border: none;
        cursor: pointer;
      }
    }
  }

  #task_container {

    .task {
      padding: 5px 10px;

      li {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        background: #fff;
        height: 60px;
        padding: 10px 30px;
        border-radius: 5px;
        line-height: 60px;
        margin: 0px;
        font-size: 20px;
        // clip-path: polygon(1% 0%, 100% 0%, 99% 100%, 0% 100%);
        transition: all .5s;

        .checkTask {
          position: absolute;
          right: 50px;
          color: orange;
          border: 2px solid orange;
          margin-right: 25px;
          padding: 5px;
          font-size: 1.5rem;
      
          &:hover {
            background: orange;
            color: #fff;
          }
        } 

        .deleteTask {
          color: red;
          border: 2px solid red;
          font-size: 1.5rem;
          padding: 5px;
      
          &:hover {
            background: red;
            color: #fff;
          }
        }
      }
    }
  }

  #doneTaskContainer {
    margin: 50px 0;
    position: relative;

    .item {
      padding: 5px 10px;
    }

    &:not(:empty)::before {
      content: "";
      width: 50%;
      height: 2px;
      background: #fff;
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
    }

    li {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      background: rgba(255, 255, 255, 0.541);
      height: 60px;
      padding: 10px 30px;
      border-radius: 5px;
      line-height: 60px;
      text-decoration: line-through;
      color: darkgray;
      font-style: italic;
      font-size: 19px;
      margin: 0px;

      .checkTask {
        position: absolute;
        right: 75px;
        color: #fff;
        border: 2px solid orange;
        background: orange;
        padding: 5px;
        font-size: 1.5rem;
    
        &:hover {
          background: orange;
          color: #fff;
        }
      } 

      .deleteTask {
        color: red;
        border: 2px solid red;
        font-size: 1.5rem;
        padding: 5px;
    
        &:hover {
          background: red;
          color: #fff;
        }
      }
    }
  }

  .taskDone li {
    color: gray;
    text-decoration: line-through;
    background-color: lightgray;
    font-style: italic;
  }
}

@media screen and (max-width: 900px){
    .container {
        width: 100%;
        position: fixed;
        top: 0;
        background: none;

        .input_container {
          margin-bottom: 0;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
        }

        .error {
          position: absolute;
          top: 70px;
          left: 50%;
          transform: translatex(-50%);
          background: rgba(255, 217, 217, 0.877);
          text-align: center;
          color: red;
          font-size: 20px;
          border: 2px solid rgb(255, 112, 112);
          border-radius: 5px;
          padding: 10px;
          width: 100%;
        }

        .tasksContainer {
          padding-bottom: 100px;
          height: 100vh;
          overflow-y: scroll;
          background: none;

          &:not(:empty) {
            background: rgba(215, 215, 215, .5);
          }
        }
    }
    .window-scroll {
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    }
}
